/* CSS DOCUMENT */

body {
    background-color: rgb(26, 82, 118);
}

h1 {
    text-align: center
    color: rgb(229, 152, 102);
    font-size: 4em;
    background-color: rgb(31, 97, 141);
    padding: 1em 2em 1.5em 1em;
}

h2 {
    text-align: center
    color: rgb(220, 118, 51);
    font-size: 3em;
    background-color: rgb(36, 113, 163);
    padding: 0.5em 1em 0.75em 0.5em;
}

h3 {
    color: rgb(211, 84, 0);
    font-size: 2em;
    background-color: rgb(41, 128, 185);
    padding: 0.5em 1em 0.75em 0.5em;
}

h4 {
    color: rgb(186, 74, 0);
    font-size: 1em;
    background-color: rgb(84, 153, 199);
}
