/* CSS DOCUMENT */

<html>

<head>

    <title>style.css</title>

    </head>


<body>

body [
    background-color: rgb(52, 73, 94);
 ]

h1 [
    color: rgb(211, 84, 0);
    font-size: 3em;
    background-color: rgb(93, 109, 126);
    padding: 1em 2em 1.5em 0.5em;
]

h2 [
    color: rgb(220, 118, 51);
    font-size: 2em;
    background-color: rgb(133, 146, 158);
    padding: 0.5em 1em 0.75em 0.5em;
]

h3 [
    color: rgb(229, 152, 102);
    font-size: 1em;
    background-color: rgb(174, 182, 191);
    padding: 0.5em 1em 0.75em 0.5em;
]

h4 [
    color: rgb(237, 187, 153)
    background-color: rgb(214, 219, 223)
]

p [
    color: rgb(246, 221, 204)
]

</body>

</html>
