/*CSS document*/

body {
  font-family: Bree, serif;
  background-color: #f7f7f7;
}

div.container {
    max-width: 80em;
    margin: auto;
}

section {
  max-width: 40em;
  margin: 0 auto 3em;
}

figure {
    margin: 3em 0em 0em 0em;
}

img {
    width: 100%;
    margin: 0em 0em .5em 0em;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul {
    padding: 0;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    margin: 0 1em;
    font-family: Bree, serif;
    font-size: 1em;
    text-transform: uppercase;
}

nav ul li a {
    color: #f39a9d;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffeaec;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    margin: 0em 0em 1em 0em;
}

figcaption {
    font-family: Bree, serif;
    color: #000000;
    margin: 0em 0em 2em 0em;
}

h1 {
  width: 4em;
}

h2 {
    font-family: Bree, serif;
    text-transform: uppercase;
    color: #f39a9d;
    margin: 1em 0em 1em 0em;
}

h3 {
    font-family: Bree, serif;
    text-transform: uppercase;
    color: #f39a9d;
    margin: 1em 0em 1em 0em;
}

@media screen and (min-width: 60em){

  div.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 1em;
  }

  header {
    grid-column: 1/3;
  }

  footer {
    grid-column: 1/3;
  }

  main {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 1em;
  }

  section.mainstory {
    grid-column: 2/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }

section.mainstory figure {
  flex: 1 0 18em;
  display: flex;
  flex-direction: column;
  }

section.mainstory figure div {
  flex: 1 0 18em;
  background-image: url(mainstory-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background position: center;
  }

section.mainstory figure div img {
  height: 100%;
  opacity: 0;
  }

section.mainstory h3 {
  flex: 0 0 auto;
  margin: 0;
  }

section.mainstory p {
  flex: 0 0 auto;
  margin: 0;
  }

  aside {
    grid-column: 2/3;
  }

  section.secondary {
    grid-column: 1/2;
  }

}
