/*CSS document*/

body {
  font-family: Bree, serif;
  background-color: #f7f7f7;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 3em 0em 0em 0em;
}

img {
    width: 100%;
    margin: 0em 0em .5em 0em;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul {
    padding: 0;
    margin: auto;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    margin: 1em;
    font-family: Bree, serif;
    font-size: 1em;
    text-transform: uppercase;
}

nav ul li a {
    color: #f39a9d;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffeaec;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    margin: 0em 0em 1em 0em;
}

figcaption {
    font-family: Bree, serif;
    color: #000000;
    margin: 0em 0em 2em 0em;
}

h2 {
    font-family: Bree, serif;
    text-transform: uppercase;
    color: #f39a9d;
    margin: 1em 0em 1em 0em;
}

h3 {
    font-family: Bree, serif;
    text-transform: uppercase;
    color: #f39a9d;
    margin: 1em 0em 1em 0em;
}
