/*CSS DOCUMENT*/

img {
    width: 100%;
}

body {
  background-color: rgb(250, 215, 160);
  font-family: serif;
  padding: 1em 1em 1em 1em;
  color: rgb(186, 74, 0);
}

div.container {
  display: grid;
  max-width: 40em;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

h1 {
  color: rgb(230, 126, 34);
  font-size: 3em;
  font-weight: bold;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
  grid-column: 1/2;
}

h2 {
  color: rgb(235, 152, 78);
  font-size: 2em;
  font-weight: bold;
  font-family: cursive;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
  grid-column: 1/2;
}

h3 {
  color: rgb(235, 152, 78);
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

figcaption {
  color: rgb(186, 74, 0);
  font-size: 1em;
}

ul.ingredients {
  color: rgb(186, 74, 0);
  font-size: 1em;
  margin: 1em 0em 0.75em 0em;
}

ol.directions {
  color: rgb(186, 74, 0);
  font-size: 1em;
  margin: 1em 0em 0.75em 0em;
}

