/*CSS DOCUMENT*/

img {
    width: 100%;
    grid-column: 1/2;
}

body {
  background-color: rgb(250, 215, 160);
  font-family: serif;
  padding: 1em 1em 1em 1em;
  color: rgb(186, 74, 0);
}

div.container {
  display: grid;
  max-width: 40em;
  margin: 0 auto;
  padding: 2em;
  grid-template-columns: repeat(4, 1fr);
}

figure {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5em auto 3em;
  grid-row-gap: 7em;
  grid-column-gap: 1.7em;
	grid-column: 2;
}

main {
     display: grid;
     grid-template-columns: 1fr 1.5fr;
     grid-template-rows: 5em auto 3em;
     grid-row-gap: 12em;
     grid-column-gap: 2.5em;
     margin-bottom: 2em;
}

h1 {
  color: rgb(230, 126, 34);
  font-size: 3em;
  font-weight: bold;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

h2 {
  color: rgb(235, 152, 78);
  font-size: 2em;
  font-weight: bold;
  font-family: cursive;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

h3 {
  color: rgb(235, 152, 78);
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

figcaption {
  color: rgb(186, 74, 0);
  font-size: 1em;
  width: 12em;
  line-height: 1.5;
  grid-row: 2/4;
}

ul.ingredients {
  color: rgb(186, 74, 0);
  font-size: 1em;
  margin: 1em 0em 0.75em 0em;
}

ol.directions {
  color: rgb(186, 74, 0);
  font-size: 1em;
  margin: 1em 0em 0.75em 0em;
}

footer {
  grid-column: 1/2;
}
