/*CSS DOCUMENT*/

img {
    width: 100%; /*Please leave this line.*/
}

body {
    background-color: rgb(250, 215, 160);
    font-family: serif;
}

h1 {
  text-align: center;
  color: rgb(230, 126, 34);
  font-size: 3em;  
  font-weight: bold;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

h2 {
  text-align: center;
  color: rgb(235, 152, 78);
  font-size: 2em;  
  font-weight: bold;
  font-family: cursive;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

h3 {
  text-align: center;
  color: rgb(235, 152, 78);
  font-size: 2em;  
  font-weight: bold;
  margin: 1em 0em 0.75em 0em;
  line-height: 1.25em;
}

ul.ingredients {
  color: rgb(186, 74, 0)
}

ol.directions {
  color: rgb(186, 74, 0)
}
